
.graph-container {
  width: 100%;
  overflow-x: auto;
}

.graph-container__graph {
  width: 100%;
}

.graph-container__no-data {
  text-align: center;
  color: $color-gray-500;
  padding: $spacing-6;
}